<div class="jumbotron center">
		<div class="page-header">
<b> <font size="10"> Peter Hoang</b></font><h2><b><small> Young Jedi Developer </small></b></h2></h1>
</div>
	<p><font size="3">Self-taught wannabe developer from San Francisco, CA. Rubys on Rails certified via OMR. Previous expierence include Business Development and Project Management. 
	<p>Innovative, strategic, and results-driven. Love working with startups and entrepreneurs. Saw a need for more developers and decided to learn programming. Spent long hours honing my skills which eventually led to this app - not the first of its kind, but I built in 2 weeks. 
	<p>Believe that success comes from hard work and a positive attitude. If you never take risks, you’ll never move forward.</p>

	<p><b>IMO:</b> Pin|Me > Pinterest </P>

	<p> Cheers.</p>

		<a href="https://github.com/Gnaoh" target="blank">
				<%= image_tag("github.png") %> </a>

		<a href="https://www.facebook.com/KyleHoang" target="blank">
			<%= image_tag("facebook.png") %> </a>

		<a href="https://twitter.com/PeterHoang_" target="blank">
				<%= image_tag("twitter.png") %> </a>
</div>